<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">

        <div *ngIf="!authenticationService.isLoggedIn()">
          <h1 class="center teal-text lighten-3">Register</h1>
          <div class="content-container-with-padding z-depth-4">
            <div class="row">

              <form *ngIf="user" #registerForm="ngForm" (ngSubmit)="save()" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" name="firstName"
                           [(ngModel)]="user.firstName" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" name="lastName"
                           [(ngModel)]="user.lastName" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" [(ngModel)]="user.email" class="validate">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" name="password" [(ngModel)]="user.password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="pictureURL" type="text" name="pictureURL" [(ngModel)]="user.pictureURL" class="validate">
                    <label for="pictureURL">Picture (URL)</label>
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s12">
                    <input id="companyTeam" type="text" name="companyTeam" [(ngModel)]="user.companyTeam"
                           class="validate">
                    <label for="companyTeam">Company/team</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="phoneNumber" type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                           class="validate">
                    <label for="phoneNumber">Phone number</label>
                  </div>
                </div>

                <div *ngIf="feedback" class="error-text">
                  <div *ngFor="let error of feedback">
                    {{error}}
                  </div>
                </div>


                <div class="row right-align">
                  <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Register<i
                    class="material-icons right">send</i></button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
