<div class="row" *ngIf="user">

  <div class="col s12 m2">
    <div class="content-container">
      <h6>Edit Profile</h6>
      <div class="collection">
        <a routerLink="/user/{{user.id}}" class="collection-item white-text active purple darken-2">Profile
          Information</a>
        <a href="#!" class="collection-item grey-text text-darken-2">Coaching sessions</a>
        <a href="#!" class="collection-item grey-text text-darken-2">Apply to become a coach</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12">
    <div class="content-container">

      <section class="card-panel grey lighten-5">
        <h5>Edit Profile Information</h5>
        <div class="divider"></div>

        <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" name="firstName"
                     formControlName="firstName" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" name="lastName"
                     formControlName="lastName" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="email">Email</label>
              <input id="email" type="email" name="email" formControlName="email"
                     class="validate">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="pictureURL" type="text" name="pictureURL" formControlName="pictureURL"
                     class="validate">
              <label for="pictureURL">Picture (URL)</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="companyTeam" type="text" name="companyTeam" formControlName="companyTeam"
                     class="validate">
              <label for="companyTeam">Company/team</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="phoneNumber" type="text" name="phoneNumber" formControlName="phoneNumber"
                     class="validate">
              <label for="phoneNumber">Phone number</label>
            </div>
          </div>

          <div class="row" *ngIf="loggedInUserIsAdmin()">
            <div class="select-f col l6 m6 s12">

              <label>Role</label>
              <mat-form-field appearance="fill">
                <select matNativeControl required formControlName="userRole">
                  <option *ngFor="let userRole of userRoles" ngValue="{{userRole}}">{{userRole}}</option>
                </select>
              </mat-form-field>

            </div>
          </div>

          <div *ngIf="feedback" class="error-text">
            <div *ngFor="let error of feedback">
              {{error}}
            </div>
          </div>


          <div class="row right-align">
            <button type="submit" class="waves-effect waves-light purple darken-2 btn-large white-text">Update<i
              class="material-icons right">send</i></button>
          </div>
        </form>
      </section>

    </div>
  </div>
</div>
