<main>

  <div class="row">

    <div class="col s12 m12">
      <div class="content-container">

        <section class="card-panel grey lighten-5">

          <header>
            <form [formGroup]="searchForm" (ngSubmit)="submit()">

              <div class="row">
                <div class="select-f col l6 m6 s12">
                  <mat-form-field appearance="fill">
                    <select matNativeControl required formControlName="topics" (click)="submit()">
                      <option [ngValue]="null" disabled>Select Topic</option>
                      <option value="" selected>ALL TOPICS</option>
                      <option *ngFor="let topicname of topics"
                              ngValue="{{topicname}}">{{topicname}}</option>
                    </select>
                  </mat-form-field>


                </div>

                <div class="input-field col l6 m12 s12">
                  <i class="material-icons prefix">search</i>
                  <input id="icon_prefix" formControlName="searchQuery" (keyup)="submit()"
                         type="text" class="validate">
                  <label for="icon_prefix">First name, last name or email</label>
                </div>
              </div>
            </form>
          </header>

          <div class="row">

            <div class="col l3 m4 s12" *ngFor="let coach of coaches">
              <h5 class="header">{{coach.firstName}} {{coach.lastName}}</h5>
              <div class="card horizontal">
                <div class="card-image">
                  <img src="assets/images/default-profile-pic.png" class="responsive-img">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <div *ngIf="coach.coachInfo">
                      <table class="highlight responsive-table">
                        <tbody>
                        <tr *ngFor="let topic of coach.coachInfo.topics">
                          <td><strong>{{topic.topicName}}</strong></td>
                          <td>{{topic.experience}}/10</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a routerLink="/coach/{{coach.id}}"
                    class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 btn-large"><i
                    class="material-icons">send</i></a>
                </div>
              </div>
            </div>


          </div>

        </section>

      </div>
    </div>
  </div>

</main>
